<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Supporters</h2>
        <hr class="star-light">
      </div>
    </div>

<div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://zaprite.com/" class="btn btn-lg btn-outline">
          <i class="fa fa-donate"></i> Donate Now
        </a>
      </div>

  <div class="row">    
  <p align="center"><h3>Tier I - 100m sats</h3></p>
      <img src="/img/supporters/a.png">
      <img src="/img/supporters/b.png">
      <img src="/img/supporters/c.png">
      <img src="/img/supporters/d.png">
    </div>

    
      
  <p align="center"><h3>Tier II - 10m sats</h3></p>
    <div class="row">
      <img src="/img/supporters/e.png"> 
      <img src="/img/supporters/f.png"> 
      <img src="/img/supporters/g.png"> 
      <img src="/img/supporters/h.png">
    </div>

    <p align="center"><h3>Tier III - 1m sats</h3></p>
      <div class="row">
        <img src="/img/supporters/i.png"> 
        <img src="/img/supporters/j.png"> 
        <img src="/img/supporters/k.png">
      </div>
    
    
    <p align="center"><h3>Hashrate Contributors</h3></p>
      <div class="row">
        <img src="/img/supporters/l.png"> 
        <img src="/img/supporters/m.png"> 
      </div>
    </div>
</section>
