<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Supporters</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-0">
        <p align="center">Tier 1 - 100m sats</p>
        <p> <img class="img-responsive img-centered" src="/img/supporters/a.png">
      </div>
      <div class="col-lg-4">
        <p align="center">Tier 2 - 10m sats</p>
      </div>
       <div class="col-lg-4">
        <p align="center">Tier 3 - 1m sats</p>
      </div>
      <div class="col-lg-4">
        <p align="center">Hashrate Contributors</p>
      </div>
    </div>
  </div>
</section>
