<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our Mission</h2><p>To educate individuals, organizations, and businesses about Bitcoin mining and energy through Free and Open Source development (FOSS). We support educators and developers with grants while they work to advance Bitcoin mining and energy initiatives; at our mining lab we equip developers with resources for continued success. We believe in FOSS development and we pledge that every project from this foundation will always be made available through FOSS and public domain contributions.</p><p>This foundation was formed in February 2024 by Rod <a href="https://twitter.com/bitkite"><font color="orange">@bitkite</font></a> and <a href="https://twitter.com/econoalchemist"><font color="orange">@econoalchemist</font></a></p>
        <br>
        <h2>Our Supporters</h2>
        <hr class="star-light">
      </div>
    </div>

 <div class="col-lg-8 col-lg-offset-2 text-center">
  <p align="center"><h3>Tier I - 1 BTC</h3></p>
  </div>
    
<div class="col-lg-8 col-lg-offset-2 text-center">
  <div class="row">    
      <img src="/img/supporters/a.png">
      <img src="/img/supporters/b.png">
      <img src="/img/supporters/c.png">
      <img src="/img/supporters/d.png">
    </div>
  </div>

  <div class="col-lg-8 col-lg-offset-2 text-center">
      <p><a href="https://pay.zaprite.com/pl_gsOMgGygvA" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-outline">
          <i class="fa fa-donate"></i>Donate 1 BTC</a></p>
      </div>

<br>    

<div class="col-lg-8 col-lg-offset-2 text-center">    
  <p align="center"><h3>Tier II - 0.1 BTC</h3></p>
   </div>
    
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <div class="row">
      <img src="/img/supporters/e.png"> 
      <img src="/img/supporters/f.png"> 
      <img src="/img/supporters/g.png"> 
      <img src="/img/supporters/h.png">
    </div>
  </div>

  <div class="col-lg-8 col-lg-offset-2 text-center">
       <p><a href="https://pay.zaprite.com/pl_CgX4r675ED" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-outline">
          <i class="fa fa-donate"></i>Donate 0.1 BTC</a></p>
      </div>

<br>    

 <div class="col-lg-8 col-lg-offset-2 text-center">
    <p align="center"><h3>Tier III - 0.01 BTC</h3></p>
  </div>
    
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <div class="row">
        <img src="/img/supporters/i.png"> 
        <img src="/img/supporters/j.png"> 
        <img src="/img/supporters/k.png">
      </div>
  </div>

  <div class="col-lg-8 col-lg-offset-2 text-center">
        <p><a href="https://pay.zaprite.com/pl_Bjf25F3NEA" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-outline">
          <i class="fa fa-donate"></i>Donate 0.01 BTC</a></p>
      </div>

<br>    
    
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <p align="center"><h3>Hashrate Contributors</h3></p>
      <div class="row">
        <img src="/img/supporters/l.png"> 
        <img src="/img/supporters/m.png"> 
        </div>
    <p>Support The 256 Foundation with your hashrate! Open your miner's configuration file, paste in any <a href="https://lincoin.com/" target="_blank" rel="noopener noreferrer"><font color="orange">Lincoin</font></a> URL, and use "pod256.your_alias" as the worker name.</p>
      </div>
    </div>
</section>
