<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
        <a href="/pod256.html" target="_blank" rel="noopener noreferrer" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
            <img src="img/portfolio/POD256-3.png" class="img-responsive img-centered" alt="POD256">
          </a>
        </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="/newsletter.html" target="_blank" rel="noopener noreferrer" class="portfolio-link" data-toggle="modal">
           <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
            <img src="img/portfolio/newsletter-4.png" class="img-responsive img-centered" alt="256-NEWSLETTER">
          </a>
        </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="/grants.md" target="_blank" rel="noopener noreferrer" class="portfolio-link" data-toggle="modal">
         <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/grants-5.png" class="img-responsive img-centered" alt="256-GRANTS">
        </a>
      </div>
    </div>
  </div>
</section>
