<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-1" class="portfolio-link" data-toggle="modal">
          <a href="/pod256.md" target="_blank" rel="noopener noreferrer"><img src="img/portfolio/pod256-2.png" class="img-responsive img-centered" alt="{{ post.alt }}"></a>
        </a>
        </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-2" class="portfolio-link" data-toggle="modal">
          <a href="/newsletter.md" target="_blank" rel="noopener noreferrer"><img src="img/portfolio/monthly-newsletter_whiteBG.png" class="img-responsive img-centered" alt="{{ post.alt }}"></a>
        </a>
        </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-3" class="portfolio-link" data-toggle="modal">
          <a href="/grants.md" target="_blank" rel="noopener noreferrer"><img src="img/portfolio/grants-1.png" class="img-responsive img-centered" alt="{{ post.alt }}"></a>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
